# Import libraries

In [ ]:
from google.cloud import bigquery
import os
from google.oauth2 import service_account
import pandas as pd

# Obtain data

Set up client connection to bigquery api

In [2]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]= "world-bank-indicators-3ccb8c5c2658.json"
client = bigquery.Client()

Get bigquery 'World Bank WDI' dataset

In [3]:
dataset_id = client.dataset("world_bank_wdi", project="bigquery-public-data")
dataset = client.get_dataset(dataset_id)

View tables in dataset

In [4]:
tables = list(client.list_tables(dataset))
for table in tables:
    print(table.table_id)

country_series_definitions
country_summary
footnotes
indicators_data
series_summary
series_time

View indicators_data table

In [5]:
table_id = dataset_id.table("indicators_data")
table = client.get_table(table_id)
print(pd.DataFrame(table.schema))
client.list_rows(table, max_results=5).to_dataframe()

                                                   0
0  SchemaField('country_name', 'STRING', 'NULLABL...
1  SchemaField('country_code', 'STRING', 'NULLABL...
2  SchemaField('indicator_name', 'STRING', 'NULLA...
3  SchemaField('indicator_code', 'STRING', 'NULLA...
4  SchemaField('value', 'FLOAT', 'NULLABLE', '', ...
5  SchemaField('year', 'INTEGER', 'NULLABLE', '',...

/Users/blantj/opt/anaconda3/lib/python3.7/site-packages/google/cloud/bigquery/table.py:1690: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the REST endpoint.
  if not self._validate_bqstorage(bqstorage_client, create_bqstorage_client):

,country_name,country_code,indicator_name,indicator_code,value,year
0,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,66.246450,2002
1,Arab World,ARB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,96.466705,2014
2,Arab World,ARB,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,81.972760,2005
3,Arab World,ARB,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,5892.763208,2012
4,Arab World,ARB,"Adjusted net savings, including particulate em...",NY.ADJ.SVNG.GN.ZS,12.782944,2018

Query data

In [8]:
indicators_query = """
        SELECT *
        FROM `bigquery-public-data.world_bank_wdi.indicators_data`
        WHERE indicator_name IN ('Adjusted net national income per capita (current US$)', 
                                 'Air transport, passengers carried',
                                 'Inflation, consumer prices (annual %)',
                                 'Labor force, female (% of total labor force)',
                                 'Urban population (% of total population)',
                                 'Population growth (annual %)',
                                 'Employment in services (% of total employment) (modeled ILO estimate)',
                                 'Total debt service (% of GNI)',
                                 'Compulsory education, duration (years)',
                                 'Gross savings (% of GNI)',
                                 'Hospital beds (per 1,000 people)')"""
indicators_query_job = client.query(indicators_query)
indicators_df = indicators_query_job.to_dataframe()
indicators_df.to_csv('dataset.csv', index=False)

/Users/blantj/opt/anaconda3/lib/python3.7/site-packages/google/cloud/bigquery/client.py:441: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

In [12]:
indicators_df

,country_name,country_code,indicator_name,indicator_code,value,year
0,East Asia & Pacific (excluding high income),EAP,Gross savings (% of GNI),NY.GNS.ICTR.GN.ZS,35.555550,1996
1,East Asia & Pacific (excluding high income),EAP,Gross savings (% of GNI),NY.GNS.ICTR.GN.ZS,34.845872,2000
2,Eritrea,ERI,Gross savings (% of GNI),NY.GNS.ICTR.GN.ZS,17.164867,1999
3,Guinea-Bissau,GNB,Gross savings (% of GNI),NY.GNS.ICTR.GN.ZS,5.103593,2009
4,Hungary,HUN,Gross savings (% of GNI),NY.GNS.ICTR.GN.ZS,20.204166,1995
...,...,...,...,...,...,...
95752,Dominican Republic,DOM,Employment in services (% of total employment)...,SL.SRV.EMPL.ZS,63.741001,2005
95753,Dominican Republic,DOM,Employment in services (% of total employment)...,SL.SRV.EMPL.ZS,69.791000,2011
95754,Dominican Republic,DOM,Employment in services (% of total employment)...,SL.SRV.EMPL.ZS,63.525002,2003
95755,Dominican Republic,DOM,Employment in services (% of total employment)...,SL.SRV.EMPL.ZS,65.867996,2008
95756,Dominican Republic,DOM,Employment in services (% of total employment)...,SL.SRV.EMPL.ZS,71.823997,2013

In [ ]:
df.head()

In [ ]:
table1_id = dataset_id.table("country_series_definitions")
table1 = client.get_table(table1_id)
print(pd.DataFrame(table.schema))
client.list_rows(table, max_results=5).to_dataframe()